parameters:
	level: max
#	checkExplicitmixed: true
	paths:
		- src

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
